<header>
    <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-white bg-white">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="LOGO IMPRIMA 2022 Industria Grafica en Blanco.png" alt="Imprima Logo" width="200" height="auto">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <!-- CATEGORIAS Dropdown -->
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Inicio</a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="categoriasDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Catálogo
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="categoriasDropdown">
                        <li><a class="dropdown-item" href="#">Impresión Offset</a></li>
                        <li><a class="dropdown-item" href="#">Impresión Digital</a></li>
                        <li><a class="dropdown-item" href="#">Serigrafía</a></li>
                        <li><a class="dropdown-item" href="#">Sublimación</a></li>
                        <li><a class="dropdown-item" href="#">Cartelería</a></li>
                        <li><a class="dropdown-item" href="#">Diseño Gráfico</a></li>
                        <li><a class="dropdown-item" href="#">Servicios</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="sobre-nosotros.html">Sobre Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#productRoulette">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#myFooter">Contacto</a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>
</header>